.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    transition: 0.3s; /* Efecto de transición suave al cambiar el tamaño */
    width: 240px; /* Ancho de la tarjeta */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no desborde */
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza los hijos en una columna */
    
  }

  .card img {
    width: 100%; /* Hace que la imagen cubra el ancho de la tarjeta */
    display: block; /* Asegura que la imagen no tenga espacio extra abajo */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .card-container {
    padding: 16px; /* Espaciado interno para el contenido de la tarjeta */
    flex: 1; /* Hace que el contenedor llene el espacio restante */
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza los hijos en una columna */
    justify-content: center; /* Centra el contenido verticalmente */
  }

  .card-title {
    font-size: 18px; /* Tamaño de la fuente para el título */
    margin: 15px 0; /* Espacio arriba y abajo del título */
    padding: 8px 16px; /* Espaciado interno para el rectángulo */
    background-color: white; /* Color de fondo del rectángulo */
    border-radius: 5px; /* Bordes redondeados del rectángulo */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Sombra suave para darle profundidad */
    display: inline-block; /* Hace que el fondo se ajuste al texto */
    color: #555; /* Color del texto */
  }

  .card-text {
    font-size: 14px; /* Tamaño de la fuente para el texto */
    color: #555; /* Color del texto */
    flex: 1; /* Permite que el texto llene el espacio disponible, empujando cualquier otro contenido hacia abajo */
    margin-top: 20px; /* Añade espacio arriba de tu 'lista' */
    
  }

  ul.no-list-style {
    list-style-type: none; /* Elimina los puntos de todos los <li> dentro de este <ul> */
  }

  ul {
    list-style-type: none;
  }
  .card-text > div {
    font-size: 14px; /* Ajusta esto según necesites */
    margin-bottom: 10px; /* Espacio entre ítems */
  }